In [1]:
import pandas as pd

In [2]:
# 1. Using list of dictionary
lst = [{"C1": 1, "C2": 2},
      {"C1": 5, "C2": 10, "C3": 20}]
print(pd.DataFrame(lst, index = ["R1", "R2"]))

    C1  C2    C3
R1   1   2   NaN
R2   5  10  20.0

In [3]:
# 2. Using dictionary 
dc = {"C1": ["1", "3"],
     "C2":["2", "4"]}
print(pd.DataFrame(dc, index = ["R1", "R2"]))

   C1 C2
R1  1  2
R2  3  4

In [4]:
# 3. Using list
lst = [[52, 34], [45, 85]]
print(pd.DataFrame(lst, index = list('pq'), columns = list('ab')))

    a   b
p  52  34
q  45  85

In [9]:
# Hetrogenous DataFrame
df = pd.DataFrame({'A': [10., 20.],
                  'B': "text",
                  'C': [2, 60],
                  'D': 3+9j})
print(df)
print(df.dtypes)
print(df.info())

      A     B   C       D
0  10.0  text   2  (3+9j)
1  20.0  text  60  (3+9j)
A       float64
B        object
C         int64
D    complex128
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
A    2 non-null float64
B    2 non-null object
C    2 non-null int64
D    2 non-null complex128
dtypes: complex128(1), float64(1), int64(1), object(1)
memory usage: 160.0+ bytes
None

In [10]:
# index of rows
print((df.index))

RangeIndex(start=0, stop=2, step=1)

In [11]:
# index of columns
print(df.columns)

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
# Display values of df
print(df.values)

[[10.0 'text' 2 (3+9j)]
 [20.0 'text' 60 (3+9j)]]

In [13]:
# Exercise
df = pd.DataFrame([[0.23, "f1"], 
                  [5.36, 'f2']],
                 index = list('pq'),
                 columns = list('ab'))

In [14]:
print(df)

      a   b
p  0.23  f1
q  5.36  f2

In [15]:
# Change the column name from ' a' to ' A'.
df.rename(columns = {'a':'A'}, inplace=True)

In [16]:
print(df.columns)

Index(['A', 'b'], dtype='object')

In [25]:
import numpy as np
#Add a new column ' c' filled with random values.
df['c'] = [np.random.randint(50, 100) for i in range(2)]

In [26]:
print(df)

      A   b   c
p  0.23  f1  59
q  5.36  f2  76

In [27]:
# Change the datatype of column ' A' values to complex.
df = df.astype({'A':'complex'})
print(df)

           A   b   c
p  (0.23+0j)  f1  59
q  (5.36+0j)  f2  76

In [29]:
# Display rows whose any of the element matches with any element of the given list:
lst = ['f30','f50','f2','f0']
df_new = df[df['b'].isin(lst)]
display(df_new)

           A   b   c
q  (5.36+0j)  f2  76

### Operations

In [30]:
df = pd.DataFrame([[11, 20], [33, 44]], index = list('AB'), columns = list('CD'))
''' Write to an excel file '''
df.to_excel('test_file.xlsx', sheet_name = "Sheet1")

''' Reading from an excel file '''
print(pd.read_excel('test_file.xlsx', 'Sheet1'))

  Unnamed: 0   C   D
0          A  11  20
1          B  33  44

In [32]:
# read a text file
df = pd.read_csv ('chat.txt')
print(df.head(5))

                                                                                                                                      26/08/17  \
26/08/17                                    12:36:23 PM: Friend1: *Richard M. Stallman        a staff software programmer at the Massachuse...
*discovered the malfunction the hard way.* NaN                                                                                             NaN
#Incredible                                NaN                                                                                             NaN
26/08/17                                    12:36:37 PM: ?+91 12345 45555: <?image omitted>                                                NaN
                                            12:36:54 PM: +91 12345 45555: <?image omitted>                                                 NaN

                                                                                             12:28:58 PM: ?Messages to this group are now secured with end-to-end encryption.
26/08/17                                    12:36:23 PM: Friend1: *Richard M. Stallman                                                       *
*discovered the malfunction the hard way.* NaN                                                                                             NaN
#Incredible                                NaN                                                                                             NaN
26/08/17                                    12:36:37 PM: ?+91 12345 45555: <?image omitted>                                                NaN
                                            12:36:54 PM: +91 12345 45555: <?image omitted>                                                 NaN